<html>
<head>
  <title>sketch-liveserver</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    body {
      background: url("/image") no-repeat top center;
    }

    img.span {
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      border: 0;
      display: block;
      opacity: 0;
    }
  </style>
</head>
<body>
<img src="/image" class="span"/>
</body>
</html>
